tools
.vscode
**/__pycache__
*.cmp
*.tst
*.out

projects/demo
projects/00
projects/13

projects/05/*.hack

projects/06/**/*.asm
projects/06/**/*.hack

projects/07/MemoryAccess
projects/07/StackArithmetic

projects/08/FunctionCalls
projects/08/ProgramFlow
projects/09/Average
projects/09/BitmapEditor
projects/09/Fraction
projects/09/HelloWorld
projects/09/List
projects/09/Square
projects/09/**/*.vm

projects/10/ArrayTest
projects/10/ExpressionLessSquare
projects/10/Square
projects/10/output

projects/11/Average
projects/11/ComplexArrays
projects/11/ConvertToBin
projects/11/Pong
projects/11/Seven
projects/11/Square
projects/11/output

projects/12/*/*
